<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.colorbooth"
      android:versionCode="2"
      android:versionName="1.1" android:installLocation="preferExternal" >
    <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="8"  />

    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".ActivityHome"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ActivityParrot"
                  android:label="Parrot" android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="ActivityBear"
                  android:label="Bear" android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ActivityColorMix"
                  android:label="Color Mix" android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ActivityColors"
                  android:label="Colors Info">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ActivityAbout"
                  android:label="About">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>